<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
  <header class="header">
    <div class="container header__container">
  <div class="header__logo"><img class="header__img" src="https://res.cloudinary.com/dehtc9uyy/image/upload/v1741969203/SplitDealLogo_wtfs6f.png" height="40" width="170"> <h1 class="header__title"></h1></div> 
       
    
    <div class="header__menu">
      <nav id="navbar" class="header__nav collapse">
        <ul class="header__elenco">
          <li class="header__el"><a href="/index.html" class="header__link">Home</a></li>
          <li class="header__el"><a href="/views/dealsDetails.html" class="header__link">Deals</a></li>
          <li class="header__el"><a href="/views/aboutus.html" class="header__link">About Us</a></li>
          <li class="header__el"><a href="/views/login.html" class="header__link">Login</a></li>
          <li class="header__el"><a href="/views/profilepage.html" class="header__link">Profile</a></li>
        </ul>
      </nav>
    </div>
      </div>
  </header>
  
<!-- From Uiverse.io by ahmed150up --> 
<div class="chatcontainer">
    <div class="chat-card">
      <div class="chat-header">
        <h2>Group Chat</h2>
      </div>
      <div class="chat-body">
        <div class="message incoming">
          <p>Hi Guys I'm Ayush</p>
        </div>
        <div class="message outgoing">
          <p>Hi Ayush are you ready for shopping?</p>
        </div>
        <div class="message incoming">
          <p>Yes Parth I'm excited to use SplitDeal for the first time.</p>
        </div>
      </div>
      <div class="chat-footer">
        <input placeholder="Type your message" type="text" id="chatInput">
        <button id="sendBtn">Send</button>
      </div>
    </div>
  </div>
  
  <!-- ========== FOOTER ========== -->
  <!-- ========== FOOTER ========== -->
  <footer class="footer">
    <div class="footer-container">
      <div>
        <a href="#" class="brand" aria-label="Brand">SplitDeal</a>
      </div>
  
      <div class="footer-text">
        <p>We're part of the <a href="#" class="footer-link">Deakin Uni</a> family.</p>
        <p>© 2025 IT Labs.</p>
      </div>
  
     
    </div>
  </footer>
<!-- ========== END FOOTER ========== -->

  <script src="/js/chat.js"></script>
</body>
</html>