<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Deal Details</title>
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
  <meta name="theme-color" content="#1885ed">
    <title>Bricks.io - Homepage</title>
  </head>
  
  <body>
  <header class="header">
    <div class="container header__container">
  <div class="header__logo"><img class="header__img" src="https://res.cloudinary.com/dehtc9uyy/image/upload/v1741969203/SplitDealLogo_wtfs6f.png" height="40" width="170"> <h1 class="header__title"></h1></div> 
       
    
    <div class="header__menu">
      <nav id="navbar" class="header__nav collapse">
        <ul class="header__elenco">
          <li class="header__el"><a href="#" class="header__link">Home</a></li>
          <li class="header__el"><a href="#" class="header__link">Deals</a></li>
          <li class="header__el"><a href="#" class="header__link">Success stories</a></li>
          <li class="header__el"><a href="#" class="header__link">About Us</a></li>
          <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
        </ul>
      </nav>
    </div>
      </div>
  </header>
  
  <div class="sect sect--padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      <div class="site">
        <h1 class="site__title">Share and Recieve the Best Deals In Your Area!</h1>
        <h2 class="site__subtitle">Connect with others to unlock the power of group buying—pool together!</h2>
        <div class="site__box-link">
          <a class="btn btn--width" href="">Search Deals</a>
        </div>
        <img class="site__img" src="https://i.ibb.co/9m97Kgz8/Flinder-Street-Mockup.jpg">
      </div>
      </div>
      </div>
    </div>
  </div>
  
  <div class="sect sect--padding-bottom">
  <div class="container">
  <div class="row row--center">
    <h1 class="row__title">
      Pricing
    </h1>
    <h2 class="row__sub">What fits your business the best?</h2>
  </div>
  <div class="row row--center row--margin">
    <div class="col-md-4 col-sm-4 price-box price-box--purple">
      <div class="price-box__wrap">
        <div class="price-box__img"></div>
        <h1 class="price-box__title">
          Startup
        </h1>
        <p class="price-box__people">
          1 - 100 people
        </p>
        <h2 class="price-box__discount">
          <span class="price-box__dollar">$</span>49<span class="price-box__discount--light">/mo</span>
        </h2>
        <h3 class="price-box__price">
          $65/mo
        </h3>
        <p class="price-box__feat">
          Features
        </p>
        <ul class="price-box__list">
          <li class="price-box__list-el">1 License</li>
          <li class="price-box__list-el">24h helpcenter</li>
          <li class="price-box__list-el">No tasks limit</li>
          <li class="price-box__list-el">No contractors limit </li>
        </ul>
         <div class="price-box__btn">
        <a class="btn btn--purple btn--width">Start now</a>
      </div>
    </div>
    </div>
    <!-- second -->
    <div class="col-md-4 col-sm-4 price-box price-box--violet">
    <div class="price-box__wrap">
        <div class="price-box__img"></div>
        <h1 class="price-box__title">
          Business
        </h1>
        <p class="price-box__people">
          100 - 500 people
        </p>
        <h2 class="price-box__discount">
        <span class="price-box__dollar">$</span>149<span class="price-box__discount--light">/mo</span>
        </h2>
        <h3 class="price-box__price">
          $225/mo
        </h3>
        <p class="price-box__feat">
          Features
        </p>
        <ul class="price-box__list">
          <li class="price-box__list-el">1 License</li>
          <li class="price-box__list-el">24h helpcenter</li>
          <li class="price-box__list-el">No tasks limit</li>
          <li class="price-box__list-el">No contractors limit </li>
        </ul>
        <div class="price-box__btn">
        <a class="btn btn--violet btn--width">Start now</a>
      </div>
    </div>
    </div>
  
  <!-- terzo -->
    <div class="col-md-4 col-sm-4 price-box price-box--orange">
    <div class="price-box__wrap">
        <div class="price-box__img"></div>
        <h1 class="price-box__title">
          Corporate
        </h1>
        <p class="price-box__people">
          500+ people
        </p>
        <h2 class="price-box__discount">
        <span class="price-box__dollar">$</span>399<span class="price-box__discount--light">/mo</span>
        </h2>
        <h3 class="price-box__price">
          $499/mo
        </h3>
        <p class="price-box__feat">
          Features
        </p>
        <ul class="price-box__list">
          <li class="price-box__list-el">1 License</li>
          <li class="price-box__list-el">24h helpcenter</li>
          <li class="price-box__list-el">No tasks limit</li>
          <li class="price-box__list-el">No contractors limit </li>
        </ul>
      <div class="price-box__btn">
        <a class="btn btn--orange btn--width">Start now</a>
      </div>
    </div>
    </div>
    
    
  
  </div>
  </div>
  </div>
  
  <!-- -------------main--------------- -->

  
  
  </body>

  <script src="/js/dealDetails.js"></script>
</body>
</html>
