<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Deal Details</title>
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
  <meta name="theme-color" content="#1885ed">
    <title>Bricks.io - Homepage</title>
  </head>
  
  <body>
  <header class="header">
    <div class="container header__container">
  <div class="header__logo"><img class="header__img" src="https://res.cloudinary.com/dehtc9uyy/image/upload/v1741969203/SplitDealLogo_wtfs6f.png" height="40" width="170"> <h1 class="header__title"></h1></div> 
       
    
    <div class="header__menu">
      <nav id="navbar" class="header__nav collapse">
        <ul class="header__elenco">
          <li class="header__el"><a href="#" class="header__link">Home</a></li>
          <li class="header__el"><a href="#" class="header__link">Deals</a></li>
          <li class="header__el"><a href="#" class="header__link">About Us</a></li>
          <li class="header__el"><a href="#" class="header__link">Contact us</a></li>
        </ul>
      </nav>
    </div>
      </div>
  </header>
  
  
  
  
  </body>

  <script src="/js/dealDetails.js"></script>
</body>
</html>
